schedule.dtd

<?xml version = "1.0" encoding = "UTF-8" standalone = "yes" ?>
<!DOCTYPE schedule [
   <!ELEMENT schedule (patientname,patientemail,doctorname,department,date,phone,message)>
   <!ELEMENT patientname (#PCDATA)>
   <!ELEMENT patientemail (#PCDATA)>
   <!ELEMENT doctorname (#PCDATA)>
   <!ELEMENT department (#PCDATA)>
   <!ELEMENT date (#PCDATA)>
   <!ELEMENT phone (#PCDATA)>
   <!ELEMENT message (#PCDATA)>
]>



